<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Demo</title>
    <style>
        #form {
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            width: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <form id="form" method="post" action="">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" required>
        <button type="submit">Send</button>
    </form>
</body>
</html>